html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #1f1f1f;
  font-family: Arial, sans-serif;
  color: white;
}

.app {
  display: flex;
  min-height: 100vh;         
  background: #1f1f1f;
}


.sidebar {
  width: 280px;
  height: 100vh;            
  overflow-y: auto;          
  overflow-x: hidden;
  border-right: 1px solid #444;
  padding: 12px;
  background: #1f1f1f;
}


.sidebarTitle {
  margin-top: 0;
}

.sidebarTitleSecond {
  margin-top: 16px;
}

.sidebarItem {
  margin: 2px 0;
}

.sidebarButton {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  background: #111;
  color: white;
  border: 1px solid #444;
  border-radius: 8px;
  text-align: left;
}

.sidebarButtonActive {
  background: #2f2f2f;
}

.main {
  flex: 1;
  padding: 12px;
  min-height: 100vh;         
  background: #1f1f1f;
  overflow: auto;
}

.mainTitle {
  margin-top: 0;
}

.errorBox {
  background: #ffd6d6;
  color: #111;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ff9b9b;
}

.formCard {
  border: 1px solid #444;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background: #161616;
}

.partitions {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.pillBtn {
  padding: 8px 12px;
  border-radius: 999px;
  border: 1px solid #444;
  background: #111;
  color: white;
  cursor: pointer;
}

.pillBtnActive {
  background: #2f2f2f;
}

.formRow {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}

.input {
  padding: 8px;
  min-width: 180px;
  border-radius: 8px;
  border: 1px solid #444;
  background: #0f0f0f;
  color: white;
}

.techBox {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 10px;
  background: #101010;
}

.btn {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #444;
  background: #2a2a2a;
  color: white;
  cursor: pointer;
}

.btnClear {
  background: #111;
}

.tableWrap {
  border: 1px solid #444;
  border-radius: 10px;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 70vh;
  background: #151515;
}

.table {
  border-collapse: collapse;
  width: max-content;
  min-width: 100%;
}

.thSticky {
  position: sticky;
  top: 0;
  background: #222;
  color: white;
  z-index: 1;
}

.colFixed {
  min-width: 160px;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.actionsCol {
  min-width: 120px;
  white-space: nowrap;
}

.trRow {
  cursor: pointer;
  background: transparent;
}

.trSelected {
  background: #2b2b2b;
}

.deleteBtn {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #444;
  background: #3a1c1c;
  color: white;
  cursor: pointer;
}
